*{
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: grid;
    min-height: 100%;
    grid-template:
    "header header header" 80px
    "nav nav nav" 30px
    "main main main" auto
    "footer footer footer" 80px / auto;
    gap:10px;
}
.imagen__logo{
    width: 80px;
    height: 30px;
}
.header{
    grid-area: header;
    border: 1px solid red;
    background-color: bisque;
}
.header__nav{
    grid-area: nav;
    border: 1px solid red;
    
}
.main{
    grid-area: main;
    border: 1px solid red;
    background-color: aqua;
}
.footer{
    grid-area: footer;
    border: 1px solid red;
    background-color: bisque;
}