/* CSS RESET******************************** */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    height: 100%;
}

/* CSS BODY******************************** */
body {
    background-color: rgb(240, 231, 231);
    display: grid;
    min-height: 100%;
    grid-template:
        "header header header" 80px
        "main main main" auto
        "footer footer footer" 70px / auto;

}

/* CSS HEADER***************************** */
.header {
    grid-area: header;
    position: fixed;
    background-color: black;
    width: 100%;
}

.header__list {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 5px;
}

.header__nav {
    grid-area: nav;
    background-color: #a01a1a;
}

.contenedor__logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagen__logo {
    width: 75px;
    height: 45px;
}

.nav__titulo {
    font-size: 1.2rem;
    color: #e85d04;
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    letter-spacing: 1px;
    line-height: 16px;
    padding-left: 15px;
    text-align: centre;
    padding-top: 3px;
}

.header__item {
    list-style: none;
    padding: 3px;

}

.header__item--anchor {
    list-style: none;
    color: #f4f4f8;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.header__item--anchor:hover {
    background: #d00000;
    border-radius: 8px;
}

.header__item--anchor:focus {
    background: #e03004;
    border-radius: 5px;
}

/* CSS MAIN******************************* */
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__section,
.main__section--empresa {
    text-align: center;
}

/* IMG y texto SMI inicio*/
.main__section--empresa {
    width: 95%;
    margin-top: 8%;
    background: #ca0a0ad8;
    border-radius: 35px 0px 35px 0px;
    border: 2px solid #0d0d0e;
    margin: 2rem 5rem;
}

.main__titulo {
    text-align: center;
    font-size: 2.1rem;
    color: #200505;
    text-decoration: underline overline #050102;
    padding: 10px 0;
    

}

.main__titulo--h2 {
    color: #d00000;
}

.main__imagen {
    padding-top: 15px;
    width: 250px;
    height: 150px;
}

.main__parrafo {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.main__iframe {
    height: 150;
    width: 150;
}

.main__contenedor--der {
    display: none;
}

/*FIN IMG y texto SMI inicio */
/*Article******* */
.article {
    padding-top: 15px;
}

.main__titulo--h2 {
    font-size: 35px;

}

/*servicios************************ */
.imagen__servicio {
    height: 350px;
    width: 550px;
    padding: 10px 0 50px 0;
}

/* Productos*/
.main__tabla {
    border: 2px solid #050102;
    margin: 0 auto;
    margin-top: 20px;

}

.tabla__encabezado {
    border: 3px solid #050102;
}

.tabla__contenido {
    border: 1px solid #050102;
    padding: 3px;
}

.main__contenedor--productos {
    text-align: center;
}

/* Galeria*/
.main__titulo--comentario {
    text-align: center;
    font-size: 1rem;
    color: #200505;
    margin-bottom: 80px;
}

.main__article {
    margin-top: 30px;
}

.imagen__servicio--galeria {
    padding-bottom: 0px;
    width: 350px;
    height: 250px;

}

/* Contacto********************* */
.main__section--contacto{
    padding: 3%;
    
}
.main__contenedor--form{
    display: flex;
    flex-direction: column; 
    padding-bottom: 5%;   
}

.ul__contact {
    background-color: #a01a1a;
    width: 45vh;
}

.ul__contact,
.ul__links--anchor {
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    

}

.ul__links--anchor:hover {
    background: #694848f8;
    border-radius: 5px;

}

.ul__links--imagen {
    width: 5vh;
    height: 5vw;
    margin-right: 1rem;
}

 .div__ubicacion {
    height: 30vh;
    width: 50vw;
}

/* Css FOOTER********************** */
.footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    width: 75px;
    height: 45px;
}

.footer__div--logo {
    display: flex;
    align-items: center;
    
}

.footer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.footer__div--anchor {
    padding-top: 5px;
}

.footer__anchor {
    padding: 0px 8px;
}

.footer__copyrigth {
    color: #f4f4f8;
    font-size: 0.5rem;
}

.footer__anchor--imagen {
    height: 40px;
    width: 35px
}

/* *******************MEDIA QUERIES******************* */

/*@media screen and (max-width: 720px){
    .header__nav{
       flex-direction: column;            
    }
    .nav__titulo{
        text-align:center;
        font-size: 0px;
    }    

      
}*/