/* CSS RESET******************************** */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    height: 100%;
}

/* CSS BODY******************************** */
body {
    background-color: rgb(240, 231, 231);
    display: grid;
    grid-template:
        "header header header" 80px
        "main main main" auto
        "footer footer footer" 70px / auto;
}

/* CSS HEADER***************************** */
.header {
    grid-area: header;
    position: fixed;
    background-color: black;
    width: 100%;
}

.header__list {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 5px;
}

.header__nav {
    grid-area: nav;
    background-color: #a01a1a;
}

.contenedor__logo {
    display: flex;
    justify-content: space-evenly;
}

.imagen__logo {
    width: 75px;
    height: 45px;
}

.nav__titulo {
    display: none;
}

.header__item {
    list-style: none;
    padding: 3px;
}

.header__item--anchor {
    list-style: none;
    color: #f4f4f8;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.header__item--anchor:hover {
    background: #d00000;
    border-radius: 8px;
}

.header__item--anchor:focus {
    background: #e03004;
    border-radius: 5px;
}

/* CSS MAIN******************************* */
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* IMG y texto SMI inicio*/
.main__contenedor--izq {
    width: 95%;
    margin: 8% 0 1% 2%;
    background: #ca0a0ad8;
    border-radius: 35px 0px 35px 0px;
    border: 2px solid #0d0d0e;
}

.main__titulo {
    text-align: center;
    font-size: 2.1rem;
    color: #200505;
    text-decoration: underline overline #050102;
    padding: 10px 0;
}

.main__titulo--h2 {
    color: #d00000;
}

.main__parrafo {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff;
}

.main__iframe {
    height: 25vh;
    width: 67vw;
    align-self: center;
    padding-bottom: 2%;
}

.main__contenedor--der {
    display: none;
}

/*FIN IMG y texto SMI inicio */
/*Article******* */
.article__section--index {
    display: flex;
    flex-direction: column;
}

.main__titulo--h2 {
    font-size: 35px;
}

/*servicios************************ */
.imagen__servicio {
    height: 350px;
    width: 550px;
    padding: 10px 0 50px 0;
}

/* Productos*/
.main__tabla {
    border: 2px solid #050102;
    margin: 0 auto;
    margin-top: 20px;
}

.tabla__encabezado {
    border: 3px solid #050102;
}

.tabla__contenido {
    border: 1px solid #050102;
    padding: 3px;
}

.main__contenedor--productos {
    text-align: center;
}

/* Galeria*/
.main__titulo--comentario {
    text-align: center;
    font-size: 1rem;
    color: #200505;
    margin-bottom: 80px;
}

.main__article {
    margin-top: 30px;
}

.imagen__servicio--galeria {
    padding-bottom: 0px;
    width: 350px;
    height: 250px;
}

/* Contacto********************* */
.main__section--contacto {
    padding-top: 3%;
}

.main__contenedor--form,
.main__contenedor--links {
    display: flex;
    flex-direction: column;
}

.main__contenedor--links {
    margin-top: 10%;
    align-items: center;
}

.main__titulo {
    font-size: 1.3rem;
}

.div__form {
    height: 50%;
    width: 50%;

}

.ul__contact,
.ul__contact--imagen {
    background-color: #a01a1a;
    width: 45vh;
}

.ul__links {
    padding: 0;

}

.ul__contact,
.ul__links--anchor,
.ul__contact--imagen {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;

}

.ul__links--anchor:hover {
    background: #694848f8;
    border-radius: 8px;
}

.ul__links--imagen {
    width: 5vh;
    height: 5vw;
    margin-right: 1rem;
}

.div__ubicacion {
    height: 30vh;
    width: 50vw;
    padding: 2% 0;
    align-items: center;
}

/* Css FOOTER********************** */
.footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footer__logo {
    width: 20vw;
    height: 7vh;
}

.footer__div--logo {
    display: flex;
    align-items: center;
}

.footer__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__div--anchor {
    padding-top: 5px;
}

.footer__anchor {
    padding: 0px 8px;
}

.footer__copyrigth {
    color: #f4f4f8;
    font-size: 0.6rem;
}

.footer__anchor--imagen {
    height: 7vh;
    width: 7vw;
}

/* *******************MEDIA QUERIES******************* */

/* Tablet hasta 480px***************************************************************/
@media screen and (min-width: 500px) {
    .nav__titulo {
        font-size: 1.3rem;
        color: #e85d04;
        text-shadow: 0 1px 0 rgb(255, 255, 255);
        letter-spacing: 1px;
        line-height: 16px;
        display: contents;
    }

    .header__nav {
        grid-area: nav;
        background-color: #a01a1a;
    }

    .contenedor__logo {
        align-items: center;
    }

    .header__item--anchor {
        font-size: 1.3rem;
    }
}

/* Desktop a partir de 768************************************************** */
@media screen and (min-width: 768px) {

    /* header*/
    .header {
        height: 18vh;
        background-color: #0d0d0ef1;
    }

    .header__list {
        justify-content: flex-end;
        padding-right: 3%;
    }

    .contenedor__logo {
        justify-content: flex-start;
    }

    .header__nav {
        grid-area: nav;
        background-color: #a01a1a;
    }

    .nav__titulo {
        font-size: 2.5rem;
        color: #e85d04;
        text-shadow: 0 2px 0 rgb(255, 255, 255);
        letter-spacing: 0.1rem;
        line-height: 16px;
    }

    .header__item--anchor {
        font-size: 1.2rem;
        padding: 0.2rem;
    }

    .imagen__logo {
        height: 11vh;
        width: 12vw;
        margin: 1% 10% 0 2%;
    }

    /* Main */
    .main__contenedor--der {
        display: contents;
    }

    .main__contenedor--izq {
        margin: 5%;
    }

    .main__header {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
    }

    .main__imagen {
        height: 30vh;
        width: 25vw;
        margin-top: 15%;
        margin-left: 10px;
    }

    .main__iframe {
        height: 55vh;
        width: 50vw;
        padding-bottom: 5%;
    }

    .main__titulo--h2 {
        text-align: center;
        margin: 1.5rem;
    }

    /*Footer */
    .footer__logo {
        width: 11vw;
        height: 12vh;
    }

    .footer {
        height: 15vh;
        justify-content: space-between;
    }

    .footer__div {
        align-self: center;
        padding-right: 35%;
        align-content: center;
    }

    .footer__logo {
        margin-left: 25%;
    }

    .footer__anchor--imagen {
        height: 5vh;
        width: 2vw;
    }

    .footer__copyrigth {
        color: #f4f4f8;
        font-size: 1rem;
    }

    /* Contacto */

    .main__section--contacto {
        display: flex;
        padding: 0 auto;
        margin: 3% 0;
    }

    .main__contenedor--links {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 20%;
    }

    .main__titulo {
        font-size: 1.5rem;
    }

    .ul__contact,
    .ul__contact--imagen {
        display: flex;
        margin-bottom: 0.6rem;
        width: 100%;
        background: none;
        justify-content: flex-start;
        color: #0d0d0e;
        padding-left: 18%;
    }

    .ul__links--anchor,
    .ul__contact--imagen {
        color: #0d0d0e;
        display: flex;
        align-items: center;
    }

    .div__ubicacion {
        display: flex;
        justify-content: center;
    }

    .ul__links--imagen {
        width: 4vw;
        height: 6vh;
    }

    .div__form {
        height: 15vh;
        width: 15vw;
    }

    .iframe__ubicacion {
        width: 25vw;
        height: 20vh;
    }
}