
/* Galeria*/
.main__article {
    margin: 3%;
}
.main__article {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.div__carousel {
    width: 15rem;
    height: 10rem;
}

.div__carousel-img {
    height: 100%;
    width: 100%;
}
.div__galeria--h2{
    padding-top: 2rem;
    font-style: italic;
    color: $colorTitulo;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
}