$nombreRedes: (
    "whatsapp": rgb(10, 46, 2),
    "facebook": rgb(2, 2, 61),
    "instagram": rgb(95, 2, 30),
    "correo": rgb(129, 84, 0),
);

.colorWhatsapp {
    color: map-get($nombreRedes,whatsapp);
}
.colorFacebook {
    color: map-get($nombreRedes,facebook);
}
.colorInstagram {
    color: map-get($nombreRedes,instagram);
}
.colorCorreo {
    color: map-get($nombreRedes,correo);
}
