/* *******************MEDIA QUERIES******************* */

/* Desktop a partir de 768************************************************** */
@media screen and (min-width: 768px) {

    //-------SASS HEADER----------------------------
    .header {
        height: 110px;

        &__nav {
            height: 100%;
            padding: 0;
        }

        &__logo {
            margin-left: 6%;
            height: 5rem;
            width: 10rem;
        }

        &__nav--items {
            align-self: flex-end;
            padding: 0.5rem
        }

    }

    //-------SASS MAIN----------------------------
    .main {
        .div__card {
            display: block;
            margin-left: 1rem;
        }

        &__contenedor--izq {
            width: 70%;
            padding: 2%;
        }

        &__header {
            display: flex;
            width: 90%;
            justify-content: space-between;
            padding-bottom: 5%;
        }

        &__imagen {
            height: 30vh;
            width: 25vw;
            margin-top: 15%;
            margin-left: 10px;
        }

        &__iframe {
            height: 55vh;
            width: 50vw;
            padding-bottom: 5%;
        }
    }


    // -------SASS FOOTER-----------------

    .footer {
        height: 15vh;
        justify-content: space-between;

        .footer__logo {
            width: $tamwLogo;
            height: $tamLhogo;
        }

        &__div {
            align-self: center;
            padding-right: 35%;
            align-content: center;
        }

        &__logo {
            margin-left: 25%;
        }

        &__anchor--imagen {
            color: #f4f4f8;
            width: 30px;
            height: 30px;
            margin: 0 10px;
        }

        &__copyrigth {
            color: #f4f4f8;
            font-size: 1rem;
        }
    }


    /* Contacto */

    .main__section--contacto {
        display: flex;
        padding: 0 auto;
    }

    .main__contenedor--links {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 20%;
    }

    .ul__contact,
    .ul__contact--imagen {
        display: flex;
        margin-bottom: 0.6rem;
        width: 100%;
        background: none;
        justify-content: flex-start;
        color: #0d0d0e;
        padding-left: 18%;
    }

    .ul__links--anchor,
    .ul__contact--imagen {
        color: #0d0d0e;
        display: flex;
        align-items: center;
    }

    .div__ubicacion {
        display: flex;
        justify-content: center;
    }

    .ul__links--imagen {
        width: 4vw;
        height: 6vh;
    }

    .div__form {
        height: 15vh;
        width: 15vw;
    }

    .iframe__ubicacion {
        width: 25vw;
        height: 20vh;
    }

    /* Galeria******* */
    .main__contenedor {
        display: flex;
        gap: 1rem;
    }

    .imagen__servicio--galeria {
        width: 50vw;
    }

    .div__carousel {
        width: 55vw;
        height: 60vh;
    }

    .div__carousel-img {
        height: 100%;
        width: 100%;
    }

    .main__contenedor--galeria {
        align-content: center;
    }

    /*Servicios ***/
    .imagen__servicio {
        width: 25vw;
        align-self: center;
        margin-top: 3%;
    }

    .div_card {
        align-self: center;
        width: 23rem;
        height: 22rem;
    }

    .main__section--servicios {
        margin-top: 6%;
    }

    .div__container {
        gap: 5rem;
    }
    .imagen__smi {
        width: 30rem;
        height: 15rem;
    }
    .div__producto{
        width: 50rem;
    }
}

