/* Productos*/

.tabla__encabezado {
    border: 3px solid #050102;
}

.tabla__contenido {
    border: 1px solid #050102;
    padding: 0.5rem;
}

.main__contenedor--productos {
    text-align: center;
   
}
.main__tabla--producto{
    margin: 6% 0 ;
}
.div__container{
    justify-content: center;
}