/*servicios************************ */
.imagen__servicio {
    height: 25vh;
    align-self: center;
    margin-top: 3%;

    &:hover {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        box-shadow: 0px 0px 10px 10px $colorBg;
        -webkit-box-shadow: 0px 0px 10px 10px $colorBg;
    }
}

.div_card {
    align-self: center;
    margin-top: 3%;
    background-color: rgb(187, 187, 187);
    width: 20rem;

}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.card-body--2 {
    margin-top: 3rem;
}

.article__servicio {
    align-items: center;
}
.imagen__smi {
    width: 12rem;
    height: 7rem;
    border-radius: 1rem;
    filter: opacity(95%);

    &:hover {
        filter: blur(0.1rem);
    }
}

/* @extend  */
.boton {
    background-color: red;
    text-align: center;
    color: beige;
    width: 6rem;
    height: 2rem;
    border-radius: 2px;
    border: 1px solid black;

    &:hover {
        border-radius: 2px;
        border: 1px solid black;
        filter: opacity(75%);
    }
}

.boton2 {
    @extend .boton;
    background-color: rgb(9, 255, 0);
    color: beige;
}

.boton3 {
    @extend .boton;
    background-color: rgb(17, 0, 255);
    color: beige;
}

.boton4 {
    @extend .boton;
    background-color: rgb(255, 0, 128);
    color: beige;
}

/*FIN @extend   */


.div2__servi {
    background-color: grey;
    border-radius: 2rem;
    border: 0.1rem solid #920c0c;
    margin-bottom: 2rem;

}

.div__imagen {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

.main__parrafo--serv {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #212122;
    margin: 1rem;
}