/*servicios************************ */
.imagen__servicio {
    height: 15vh;
    width: 35vw;
    align-self: center;
    margin-top: 3%;
}
.div_card {
    align-self: center;
    margin-top: 3%;
    background-color: rgb(187, 187, 187);

}
.article__servicio {
    align-items: center;
}